*.exe
cli/export

# Goofy Ass Imgui File
imgui.ini

# Go Test
coverage

*.dummy.json5
/finder-template-generator-ssg/dist
/finder-template-generator-ssg/node_modules
/finder-template-generator
finder-template-generator-ssg/stats.html
/finder-template-generator-ssg/dist-static
findergen.exe~
finder-template-generator-ssg/tsconfig.tsbuildinfo
/.samengine/bin
