*.exe
cli/export

# Goofy Ass Imgui File
imgui.ini

# Go Test
coverage

*.dummy.json5
/finder-template-generator-ssg/dist
/finder-template-generator-ssg/node_modules
/finder-template-generator
finder-template-generator-ssg/stats.html
/finder-template-generator-ssg/dist-static
findergen.exe~
finder-template-generator-ssg/tsconfig.tsbuildinfo
/.samengine/bin
/.vs
/finder-template-generator-ssg/third_party_licenses
finder-template-generator-ssg/static-stats.html
finder.exe~
/npm/finder-lib/node_modules
/npm/finder-lib/dist
*.tgz
npm/hub/.env
/node_modules
npm/hub/next-env.d.ts
npm/hub/database-export.sql
.env
/npm/site/node_modules
npm/site/stats.html
npm/site/static-stats.html
/npm/site/dist
/npm/site/dist-static
npm/site/tsconfig.tsbuildinfo
/npm/vfs/node_modules
/npm/vfs/dist
*.pdb
*.obj
/npm/vite-plugin-minisite/node_modules
/npm/vite-plugin-minisite/dist
/.github/temp-stuff-idk/farbtext/node_modules
/cmd/findergen/frontend/monacoeditorwork
*.vsix
/npm/fling-vscode/node_modules
/npm/site/data/fling
