*.exe
cli/export

# Goofy Ass Imgui File
imgui.ini

# Go Test
coverage

*.dummy.json5
/scratch/minmalraylibproj/.vs
/scratch/minmalraylibproj/out
/scratch/export/.vs
/scratch/export/out
/scratch/export/thirdparty
scratch/script.sh
scratch/export/src/main.cpp
/scratch/export2
/scratch/scratchcache
/public/scratch/export/node_modules
