# .env.example

# this is just an example and used for a local database

POSTGRES_USER="finder"
POSTGRES_PASSWORD="CHANGE_ME"
POSTGRES_DB="finder"

DATABASE_URL="postgresql://finder:CHANGE_ME@localhost:5432/finder?schema=public"

BETTER_AUTH_SECRET="7f4c9a2e8d1b6f30c5e7a9d2f1b8c6e4a0d3f7b9c2e5a8d1f6b4c9e2a7d0f3"
BETTER_AUTH_URL="http://localhost:3015"
