* {
  box-sizing: border-box;
}

:root {
  --bg-color: #1e1e2f;
  --bar-bg-color: #191919;
  --text-color: #ecf0f1;
  --title-color: #e74c3c;
  --pp-title-color: #ff4e3a;
  --pop-up-bg-color: #2d2d51;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

header {
  margin: 0px;
  padding: 0.5rem;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: var(--bar-bg-color);
  text-align: right;
}

header p,
header a {
  display: inline;
  font-size: 1.1rem;
  margin: 0 5% auto;
  color: var(--text-color);
}

footer {
  margin: 0px;
  padding: 0.5rem;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: var(--bar-bg-color);
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.container-box {
  text-align: left;
}

header button {
  all: unset;
}

h1 {
  font-size: 3rem;
  margin: 0;
  color: var(--title-color);
  word-break: break-all;
}

.title {
  font-size: 6rem;
}

h4 {
  margin: 10px 0;
  font-style: italic;
  color: #bdc3c7;
}

a {
  margin-top: 20px;
  color: #4a90e2;
  text-decoration: none;
  font-size: 1.2rem;
}

a:hover {
  text-decoration: underline;
}

p {
  color: var(--text-color);
  font-size: 1.3rem;
}

a {
  font-size: 1.4rem;
}

input,
textarea {
  background-color: var(--bar-bg-color);
  color: var(--text-color);
}

button {
  border: none;
  background-color: #575775;
  color: var(--text-color);
  font-size: 1.3rem;
  padding: 13px 13px;
  border-radius: 15px;
}

button:hover {
  background-color: var(--bar-bg-color);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  color: #000000;
}

.modal-content {
  background-color: var(--pop-up-bg-color);
  margin: 10% auto;
  padding: 20px;
  border-radius: 16px;
  width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  animation: slideDown 0.4s ease;
}

.modal-content h2 {
  color: var(--pp-title-color);
}

.modal-content p,
.modal-content a {
  font-size: 1.4rem;
  color: var(--text-color);
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.closeBtn {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.closeBtn:hover {
  color: #e74c3c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1e1e2f;
    --bar-bg-color: #191919;
    --text-color: #ecf0f1;
    --title-color: #e74c3c;
    --pp-title-color: #ff4e3a;
    --pop-up-bg-color: #2d2d51;
  }

  /*
    a:hover {
      color: #24c8db;
    }
  
    input,
    button {
      color: #ffffff;
      background-color: #0f0f0f98;
    }
    button:active {
      background-color: #0f0f0f69;
    }
  }*/
}

@media (max-width: 768px) {
  .title {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2.6rem;
  }
}
